# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [1]:
import pandas as pd
bestsellers = pd.read_csv("data/bestsellers.csv")
bestsellers

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [7]:
# Find the lowest User Rating in the DF
bestsellers["User Rating"].min()

3.3

In [8]:
# Find the highest Price in the DF
bestsellers["Price"].max()

105

In [9]:
# What is the average User Rating?
bestsellers['User Rating'].mean()

4.618363636363637

In [10]:
# What the average User Rating of the first 5 rows?
bestsellers["User Rating"].head(5).mean()

4.7

In [14]:
# What User Review score appeared the most?
bestsellers["Reviews"].mode()

0    8580
Name: Reviews, dtype: int64

In [12]:
# What is the total (sum) of all the values in the Reviews column?
bestsellers["Reviews"].sum()

6574305

In [16]:
# How many different authors are featured in the dataset?
# Which author wrote the most number of books on the list? How many did they write?
bestsellers["Author"].describe()

count             550
unique            248
top       Jeff Kinney
freq               12
Name: Author, dtype: object